In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
# Import the random module.
import random
## Import the time library and the datetime module from the datetime library 
import time
from datetime import datetime
from scipy.stats import linregress
import gmaps
import requests
# Import the API key.
from config import g_key
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Yining,CN,2022-01-30 19:35:06,29.0361,114.5636,37.15,86,100,1.92
1,1,Manaure,CO,2022-01-30 19:35:07,11.7751,-72.4445,84.31,69,1,17.02
2,2,Tasiilaq,GL,2022-01-30 19:35:07,65.6145,-37.6368,8.76,37,94,22.75
3,3,Galle,LK,2022-01-30 19:35:07,6.0367,80.2170,76.71,88,28,4.47
4,4,Victoria,HK,2022-01-30 19:35:08,22.2855,114.1577,59.32,76,90,1.99

In [3]:
# Get the data types for city_data_df
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 72
What is the maximum temperature you would like for your trip? 90

In [43]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Manaure,CO,2022-01-30 19:35:07,11.7751,-72.4445,84.31,69,1,17.02
3,3,Galle,LK,2022-01-30 19:35:07,6.0367,80.2170,76.71,88,28,4.47
5,5,Saint-Philippe,RE,2022-01-30 19:35:08,-21.3585,55.7679,80.19,82,60,14.36
7,7,Alta Floresta,BR,2022-01-30 19:35:09,-9.8756,-56.0861,85.82,70,75,8.05
12,12,Port Elizabeth,ZA,2022-01-30 19:33:41,-33.9180,25.5701,75.09,88,20,13.80
16,16,Camana,PE,2022-01-30 19:35:11,-16.6228,-72.7111,73.78,66,32,8.59
18,18,East London,ZA,2022-01-30 19:35:11,-33.0153,27.9116,75.04,83,91,15.84
23,23,Omboue,GA,2022-01-30 19:35:12,-1.5746,9.2618,78.91,82,100,4.07
24,24,Cayenne,GF,2022-01-30 19:35:13,4.9333,-52.3333,78.84,89,75,5.01
28,28,Pisco,PE,2022-01-30 19:31:25,-13.7000,-76.2167,75.25,64,0,6.91

In [44]:
len(preferred_cities_df)

184

In [45]:
preferred_cities_df.count()

City_ID       184
City          184
Country       183
Date          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
dtype: int64

In [46]:
preferred_cities_df.notnull().sum()

City_ID       184
City          184
Country       183
Date          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
dtype: int64

In [47]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [48]:
preferred_cities_df = preferred_cities_df.dropna(axis=0, how='any')
preferred_cities_df.count(), preferred_cities_df.isnull().sum()

(City_ID       183
 City          183
 Country       183
 Date          183
 Lat           183
 Lng           183
 Max Temp      183
 Humidity      183
 Cloudiness    183
 Wind Speed    183
 dtype: int64,
 City_ID       0
 City          0
 Country       0
 Date          0
 Lat           0
 Lng           0
 Max Temp      0
 Humidity      0
 Cloudiness    0
 Wind Speed    0
 dtype: int64)

In [49]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat      Lng Hotel Name
1          Manaure      CO     84.31  11.7751 -72.4445
3            Galle      LK     76.71   6.0367  80.2170
5   Saint-Philippe      RE     80.19 -21.3585  55.7679
7    Alta Floresta      BR     85.82  -9.8756 -56.0861
12  Port Elizabeth      ZA     75.09 -33.9180  25.5701
16          Camana      PE     73.78 -16.6228 -72.7111
18     East London      ZA     75.04 -33.0153  27.9116
23          Omboue      GA     78.91  -1.5746   9.2618
24         Cayenne      GF     78.84   4.9333 -52.3333
28           Pisco      PE     75.25 -13.7000 -76.2167

In [50]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try: 
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Manaure,CO,84.31,11.7751,-72.4445,Hotel Palaaima
3,Galle,LK,76.71,6.0367,80.2170,Amangalla
5,Saint-Philippe,RE,80.19,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
7,Alta Floresta,BR,85.82,-9.8756,-56.0861,Floresta Amazonica Hotel
12,Port Elizabeth,ZA,75.09,-33.9180,25.5701,39 On Nile Guest House
16,Camana,PE,73.78,-16.6228,-72.7111,Hostal Morales
18,East London,ZA,75.04,-33.0153,27.9116,Tu Casa
23,Omboue,GA,78.91,-1.5746,9.2618,Hotel Olako
24,Cayenne,GF,78.84,4.9333,-52.3333,Hôtel Le Dronmi
28,Pisco,PE,75.25,-13.7000,-76.2167,Hotel San Isidro Oficial

In [54]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [61]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))